<div class="card" style="width: 18rem;">
  {{ image }}
  {% if author or date %}
    <div class="pl-4 pt-1">
	<span class="pr-5"><i class="fa fa-user"></i>
	{{ author}}</span>
      <span class="pr-5"><i class="fas fa-calendar-  alt"></i>
	{{ date }}</span>
    </div>
  {% endif %}
  <div class="card-body">
    <div class="">
    </div>
    <h5 class="card-title">{{ title }}</h5>
    {% if body %}
      <p class="card-text">{{ body }}</p>
    {% endif %}
    {% if url %}
      <a href="{{ url|striptags }}" class="btn btn-primary">
        Read more..</a>
    {% endif %}
  </div>
</div>
